@media(max-width:431px){

        body{
            height: 100vh;
            overflow: hidden;
        }
    .container .aidoo-logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 25px;
    }

    .container .aidoo-logo img{
        width: 20vw;
    }

    .container .aidoo-logo h1{
        font-family: iransans;
        margin-top: 10px;
    }

    .container .search-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container .search-box .email{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .container .search-box .email input{
        width: 80vw;
        height: 5vh;
        background-color: rgb(249, 243, 243);
        border: none;
        border-bottom: 2px solid skyblue;
        border-radius: 7px;
        outline: none;
        
    }

    .container .search-box .email label{
        font-family: iransans;
        font-size: 1.3rem;
        padding: 0px 5px 5px 0px;
    }

    .container .search-box .password{
        display: flex;
        flex-direction: column;
        margin-top: 8px ;
    }

    .container .search-box .password input{
        width: 80vw;
        height: 5vh;
        background-color: rgb(246, 244, 244);
        border: none;
        border-bottom: 2px solid rgb(56, 188, 240);
        border-radius: 7px;
        outline: none;
    }

    .container .search-box .password label{
        font-family: iransans;
        font-size: 1.3rem;
        padding: 0px 5px 5px 0px;
    }
    .container .search-box .recovery-password{
        display: flex;
        align-items: start;
        width: 80vw;
        font-family: iransans;
        padding: 5px;
        color: rgb(17, 164, 255);
    }

    .container .button{
        display: flex;
        justify-content: center;
        width: 100vw;
        margin-top: 30px;
        
    }

    .container .button .login-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: iransans;
        font-size: 1.6rem;
        background: #56CCF2; 
        background: -webkit-linear-gradient(to bottom , #2F80ED, #56CCF2); 
        background: linear-gradient(to bottom , #2F80ED, #56CCF2);
        width: 80vw;
        height: 5vh;
        border-radius: 5px;
        color: aliceblue;

    }

    .container .sign-up{
        display: flex;
        justify-content: center;
        align-items: end;
        height:35vh;
        font-family: iransans;
        font-size: 1.2rem;
    }

    .container .sign-up a{
        color: #2F80ED;
    }

}